/*image sizing for image templates file*/
img {
    height: 7.5em;
    width: 12.5em;
}
/*end*/

/*External css styling for templates*/
h1 {
    color: red;
    font-family: fantasy;
    font-size: 100px;
}
p {
    color: royalblue;
    font-family: monospace;
    font-size: 50px;
}
/*end*/

/*class example*/
.classes-header {
    color: blueviolet;
    font-family: Impact;
    font-size: 200px;
}
/*end*/

/*id example*/
#id-paragraph {
    color: crimson;
    font-family: serif;
    font-size: 100px;
}
/*end*/

/*div examples*/
.bluebox {
    color: rgb(127, 127, 177);
}
.redbox {
    color: rgb(255, 0, 0);
}
.greenbox {
    color: rgb(0, 128, 0);
}