/*image sizing for image templates file*/
img {
    height: 7.5em;
    width: 12.5em;
}
/*end*/

/*External css styling for templates*/
h1 {
    color: red;
    font-family: fantasy;
    font-size: 100px;
}
/*
p {
    color: royalblue;
    font-family: monospace;
    font-size: 50px;
}
/*end*/

/*class example*/
.classes-header {
    color: blueviolet;
    font-family: Impact;
    font-size: 200px;
}
/*end*/

/*id example*/
#id-paragraph {
    color: crimson;
    font-family: serif;
    font-size: 100px;
}
/*end*/

/*div and span examples*/
div {
    height: 100px;
    width: 200px;
    text-align: center;
}
.bluebox {
    background-color: rgb(1, 1, 255);
    color: rgb(255, 255, 255);
}
.redbox {
    background-color: rgb(255, 1, 1);
    color: rgb(255, 255, 255);
}
.greenbox {
    background-color: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
}
.social {
    font-weight: bolder;
    font-variant: small-caps;
}
/*end*/