/*image sizing for image templates file*/
img {
    height: 7.5em;
    width: 12.5em;
}
/*end*/

/*---------External css styling for templates*/
h1 {
    color: red;
    font-family: fantasy;
    font-size: 100px;
}
/*end*/

/*----------------------class example*/
.classes-header {
    color: blueviolet;
    font-family: Impact;
    font-size: 200px;
}
/*end*/

/*----------------------id example*/
#id-paragraph {
    color: crimson;
    font-family: serif;
    font-size: 100px;
}
/*end*/

/*-------------------------------------div and span examples*/
div .bluebox .redbox .greenbox {
    height: auto;
    width: auto;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border: 10px ridge;
    border-radius: 5px;
}
.bluebox {
    background-color: rgb(1, 1, 255);
    color: rgb(255, 255, 255);
}
.redbox {
    background-color: rgb(255, 1, 1);
    color: rgb(255, 255, 255);
}
.greenbox {
    background-color: rgb(0, 128, 0);
    color: rgb(255, 255, 255);
}
/*-------------------------------------box text general& "social" amplified*/
.social {
    font-weight: bolder;
    font-variant: small-caps;
}
.boxtext {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 20px;
    margin: 10px;
}
/*end*/

/*----------------------------------------box background examples*/
.imageboxone {
    height: 100px;
    width: min-content;
    background-image: url(https://wallpapercave.com/wp/wp2501119.jpg);
    background-size: 100% 100%;
}
.imageboxtwo {
    height: 100px;
    background-image: url(https://wallpapercave.com/wp/wp2501119.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100% 100%;
}
.imageboxthree {
    height: 200px; 
    background-image: url(https://wallpapercave.com/wp/wp2501119.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100%;
}
/*end*/
/*---------------------------------box background text general& "app" styled*/
.app {
    font-weight: 800;
    font-style: italic;
}
.box-backgroundtext {
    color: rgb(248, 12, 217);
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 20px;
    margin: 10px;
}
/*end*/
/*-------------------------------------float box positioning*/
.floatbox1 {
    background-color: rgb(1, 1, 255);
    position: fixed;
}
.floatbox2 {
    background-color: rgb(255, 1, 1);
    position: relative;
}
.floatbox3 {
    background-color: rgb(0, 128, 0);
    position: absolute;
}

/*-------------------------------------position box example*/
.position1 {
    background-color: rgb(1, 1, 255);
    top: 50px;
    position: sticky;
}
.position2 {
    background-color: rgb(255, 1, 1);
    top: 50px;
    position: relative;
}
.position3 {
    background-color: rgb(0, 128, 0);
    position: absolute;
    top: 50px;
    left: 30px;
}
.position-text {
    text-decoration: underline;
    font-family: cursive;
}
/*end*/
/*--------------------------------------display example*/
.displaybox1 {
    display: inline-flex;
    background-color: rgb(1, 1, 255);
}
.displaybox2 {
    display: inline-flex;
    background-color: rgb(255, 1, 1);
}
.displaybox3 {
    display: inline-flex;
    background-color: rgb(0, 128, 0);
}
.displaytext {
    text-decoration: underline;
    font-family: cursive;
    font-style: italic;
}
/*end*/
/*--------------------------------------text decoration box example*/
.decorationbox1 {
    display: inline-flex;
    background-color: rgb(1, 1, 255);
}
.decorationbox2{
    display: inline-flex;
    background-color: rgb(255, 1, 1);
}
.decorationbox3 {
    display: inline-flex;
    background-color: rgb(0, 128, 0);
}
/*------------------------------------text decoration styles*/
#decortext1 {
    text-decoration: line-through;
    font-family: cursive;
    font-style: italic;
}
#decortext2 {
    text-decoration: wavy;
    font-family: cursive;
    font-style: initial;
}
#decortext3 {
    text-decoration: underline;
    font-family: cursive;
    font-style: oblique;
}
/*end*/
/*-------------------------------------text align box examples*/
.alignbox {
    display: grid;
    background-color: rgb(1, 1, 255);
}
.alignbox2 {
    display: grid;
    background-color: rgb(255, 1, 1);
}
.alignbox3 {
    display: grid;
    background-color: rgb(0, 128, 0);
}
/*------------------------------Text variations*/
.aligncenter {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
}
.alignleft {
    color: rgb(255, 255, 255);
    font-family: Times;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
}
.alignright {
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: 500;
    text-align: right;
}
/*end*/
/*font examples*/
.font1 {
    font-family: Arial;
    font-style: italic;
}
.font2 {
    font-family: Helvetica;
    font-style: unset;
}
.lyrics {
    font-weight: 800;
    font-size: 30px;
    text-decoration: underline;
}
/*end*/
/*text effects*/
.here-comes-the-sun {
    color: sandybrown;
    text-decoration: underline;
}
.let-it-be {
    color: rgb(0, 128, 0);
    text-decoration: underline;
}
.text-effect {
    white-space: nowrap;
}
.text-effect-two {
    white-space: pre-wrap;
}
/*end*/
/*image sprites*/
.image-sprite-box {
    display: inline;
}
.image-sprite-box-two {
    display: inline;
}
.image-sprite-box-three {
    display: inline;
}
#imageone {
    width: 100px;
    height: 100px;
    background: url(https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_398/reconnect_with_nature.jpg?);
    background-position: center;
    border-radius: 2em;
}
#imagetwo {
    width: 200px;
    height: 200px;
    background: url(https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_398/reconnect_with_nature.jpg?);
    background-position: center;
}
#imagethree {
    width: 300px;
    height: 300px;
    background: url(https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_398/reconnect_with_nature.jpg?);
    background-position: center;
}
/*end*/
/*image opacity*/
.image-opacity-box {
    height: 150px;
    width: 200px;
    background: url(https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_398/reconnect_with_nature.jpg?);
    background-position: center;
}
#image-opacity {
    opacity: 1;
}
.image-opacity-box-two {
    height: 150px;
    width: 200px;
    background: url(https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_398/reconnect_with_nature.jpg?);
    background-position: center;
}
#image-opacity-two {
    opacity: 0.5;
}
.image-opacity-box-three {
    height: 150px;
    width: 200px;
    background: url(https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_398/reconnect_with_nature.jpg?);
    background-position: center;
}
#image-opacity-three {
    opacity: 500;
}
/*end*/
/*List styling examples*/
.list-heading {
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
}
.list-one {
    list-style-type: square;
    font-family: 'Courier New';
}
.list-set-one {
    color: rgb(255, 255, 255);
    background-color: rgb(1, 1, 255);
    width: 220px;
    height: 120px;
}
.list-two {
    list-style: decimal-leading-zero;
    font-family: Arial;
    justify-content: center;
}
.list-set-two {
    color: rgb(255, 255, 255);
    background-color: rgb(248, 12, 217);
    width: 220px;
    height: 120px;
    border-radius: 50px;
}
.list-three {
    list-style-type: georgian;
    font-family: Verdana;
    font-weight: 800;
}
.list-set-three {
    color: rgb(0, 217, 33);
    background-image: url(https://newscdn2.weigelbroadcasting.com/dJUEH-1573075860-150539-blog-bc_nba_abc.jpg);
    background-position: center;
    width: 220px;
    height: 200px;
}
/*end*/
/*Link styles examples*/ 
a:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
a:hover {
    color: rgb(252, 186, 3);
    font-size: 2em;
}
.link-box-one {
    background-color: rgb(248, 12, 217);
}
div.link-box-one a:active {
    font-size: 4em;
}
.link-box-two {
    background-color: rgb(255, 1, 1);
}
div.link-box-two:visited {
    color: rgb(255, 255, 255);
}
.link-box-three {
    background-color: rgb(0, 217, 33);
}
div.link-box-three a:active {
    font-size: 1em;
}
/*end*/
/*Gradient examples*/
.gradientbox {
    width: 100px;
    height: 150px;
    background: linear-gradient(blue, white);
}
.gradientbox-two {
    width: 100px;
    height: 150px;
    background: linear-gradient(to left, red, orange);
}
.gradientbox-three {
    width: 100px;
    height: 150px;
    background: linear-gradient(to right, red, white, orange);
}
/*end*/
/*2d transformations*/
.transform {
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, red, white, orange);
    transform: rotate(30deg);
}
.transform-two {
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, red, white, orange);
    transform: scale(0.5);
}
.transform-three {
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, red, white, orange);
    transform: rotate(30deg);
}
/*end*/
/*3D tranformations examples*/
.transform-3d {
    width: 100px;
    height: 100px;
    background-color: #ceb3ab;
    transform: rotateX(30deg);
}
.transform-3d-two {
    width: 100px;
    height: 100px;
    background-color: #466365;
    transform: rotateY(30deg);
}
.transform-3d-three {
    width: 100px;
    height: 100px;
    background-color: #BAA5FF;
    -webkit-transform: rotate(50deg);
}
/*end*/
/*Transition examples*/
.transition-one {
    width: 100px;
    height: 100px;
    background-color: #eeb902;
    text-align: center;
}
.transition-one:hover {
    height: 200px;
    width: 200px;
    transform: rotateX(180deg);
}
.transition-two {
    width: 100px;
    height: 100px;
    background-color: #f45d01;
    transition: height 1s, width 1s;
    overflow: hidden;
}
.transition-two:hover {
    height: 200px;
    width: 200px;
}
.transition-three {
    width: 100px;
    height: 100px;
    background-color: #97cc04;
    transition: width 1s;
}
.transition-three:hover {
    height: 200px;
    width: 200px;
}
/*end*/
/*Animation examples*/
.animation-one {
    width: 100px;
    height: 100px;
    background-color: #eeb902;
    text-align: center;
}
.animation-one:hover {
    height: 200px;
    width: 200px;
    -webkit-animation: myanimation 1s;
}
@-webkit-keyframes myanimation {
    from{background: #f45d01}
    to{background: #eeb902}
}
.animation-two {
    width: 100px;
    height: 100px;
    background-color: #f45d01;
    transition: height 1s, width 1s;
    overflow: hidden;
}
.animation-two:hover {
    height: 200px;
    width: 200px;
}
.animation-three {
    width: 100px;
    height: 100px;
    background-color: #97cc04;
    transition: width 1s;
}
.animation-three:hover {
    height: 200px;
    width: 200px;
}
/*end*/