<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal css</title>
    <style>
        h1 {
            color: red;
            font-family: fantasy;
            font-size: 100px;
        }

        p {
            color: royalblue;
            font-family: monospace;
            font-size: 50px;
        }
    </style>
</head>

<body>
    <h1>Bah GAWD</h1>
    <p>What a strike by that geezer!</p>
</body>

</html>