<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paragraphs</title>
</head>

<body>
    <p>First Paragraph</p>
    <p>First Paragraph</p>
    <p>First Paragraph, First Paragraph, First Paragraph,First Paragraph,
        First Paragraph,First Paragraph,First Paragraph,First Paragraph,First Paragraph,First Paragraph,First Paragraph,
        <br>
        First Paragraph,First Paragraph,First Paragraph,First Paragraph,First Paragraph,First Paragraph,First
        Paragraph,First Paragraph,</p>
</body>

</html>