<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Animations</title>
</head>

<body>
    <!--Animations collection-->
    <div class="animation-one">
        <p>Animation baby</p>
    </div>
    <div class="animation-two">
        <p>I'm going to expand my animations!</p>
    </div>
    <div class="animation-three">
        <p>Did you.... just assume my animation?!</p>
    </div>
    <!--end-->
</body>
</html>