<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Display</title>
</head>

<body>
    <!--div& span collection example-->
    <div class="displaybox1">
        <p class="displaytext">Generic Social media</p>
    </div>
    <div class="displaybox2">
        <p class="displaytext">Generic Social media</p>
    </div>
    <div class="displaybox3">
        <p class="displaytext">Generic Social media</p>
    </div>
</body>

</html>