<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Div and Span</title>
</head>

<body>
    <!--div& span collection example-->
    <div class="bluebox">
        <p>Generic <span class="social">Social</span> media</p>
    </div>
    <div class="redbox">
        <p>Generic <span class="social">Social</span> media</p>
    </div>
    <div class="greenbox">
        <p>Generic <span class="social">Social</span> media</p>
    </div>
</body>

</html>