<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Gradients</title>
</head>

<body>
    <!--div& span collection example-->
    <div class="gradientbox">
        <p>First gradient</p>
    </div>
    <div class="gradientbox-two">
        <p>Second gradient</p>
    </div>
    <div class="gradientbox-three">
        <p>Third gradient</p>
    </div>
</body>

</html>