<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Image Sprites</title>
</head>

<body>
    <div class="image-sprite-box">
    <img id="imageone">
    </div>
    <div class="image-sprite-box-two">
    <img id="imagetwo">
    </div>
    <div class="image-sprite-box-three">
    <img id="imagethree">
    </div>
</body>

</html>