<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Image Opacity</title>
</head>

<body>
    <div class="image-opacity-box">
        <img id="image-opacity">
    </div>
    <div class="image-opacity-box-two">
        <img id="image-opacity-two">
    </div>
    <div class="image-opacity-box-three">
        <img id="image-opacity-three">
    </div>
</body>

</html>