<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Links</title>
</head>

<body>
    <!--Link collection example-->
    <div class="link-box-one">
        <p>Visit the NFL here:</p>
        <p class="link-one"><a href="https://www.nfl.com/">Visit Here</a></p>
    </div>
    <div class="link-box-two">
        <p>Visit the NBA here:</p>
        <p class="link-two"><a href="https://www.nba.com/news">Visit Here</a></p>
    </div>
    <div class="link-box-three">
        <p>Visit the Premier League here:</p>
        <p class="link-three"><a href="https://www.premierleague.com/">Visit Here</a></p>
    </div>
</body>

</html>