<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Styling lists</title>
</head>

<body>
    <!--List style examples-->
    <div class="list-set-one">
        <h4 class="list-heading">Sport shoe brands:</h4>
        <ul class="list-one">
            <li>Nike</li>
            <li>Adidas</li>
            <li>Under Armour</li>
            <li>Puma</li>
        </ul>
    </div>
    <div class="list-set-two">
        <h4 class="list-heading">Premier league players:</h4>
        <ul class="list-two">
            <li>Marcus Rashford</li>
            <li>Raheem Sterling</li>
            <li>Harry Kane</li>
            <li>Sadio Mane</li>
        </ul>
    </div>
    <div class="list-set-three">
        <h4 class="list-heading">NBA teams:</h4>
        <ul class="list-three">
            <li>LA Lakers</li>
            <li>Golden State Warriors</li>
            <li>Chicage Bulls</li>
            <li>New Orleans Pelicans</li>
        </ul>
    </div>
    <!--end-->
</body>

</html>