<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=u">
    <title>ordered lists</title>
</head>

<body>
    <ol>
        <li>
            London
            <ul>
                <li>Cloudy</li>
                <li>Cosmopolitan</li>
            </ul>
        </li>
        <li>Madrid</li>
        <li>Moscow</li>
        <li>Washington</li>
    </ol>
    <ol type="1">
        <li>
            London
            <ul>
                <li>Cloudy</li>
                <li>Cosmopolitan</li>
            </ul>
        </li>
        <li>Madrid</li>
        <li>Moscow</li>
        <li>Washington</li>
    </ol>
    <ol type="i">
        <li>
            London
            <ul>
                <li>Cloudy</li>
                <li>Cosmopolitan</li>
            </ul>
        </li>
        <li>Madrid</li>
        <li>Moscow</li>
        <li>Washington</li>
    </ol>
    <ol type="a">
        <li>
            London
            <ul>
                <li>Cloudy</li>
                <li>Cosmopolitan</li>
            </ul>
        </li>
        <li>Madrid</li>
        <li>Moscow</li>
        <li>Washington</li>
    </ol>
    <ol type="A">
        <li>
            London
            <ul>
                <li>Cloudy</li>
                <li>Cosmopolitan</li>
            </ul>
        </li>
        <li>Madrid</li>
        <li>Moscow</li>
        <li>Washington</li>
    </ol>
</body>

</html>