<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Positioning</title>
</head>

<body>
    <!--div& span collection example-->
    <div class="position1">
        <p class="position-text">Generic position</p>
    </div>
    <div class="position2">
        <p class="position-text">Butter positions flat</p>
    </div>
    <div class="position3">
        <p class="position-text">Clouds positions high</p>
    </div>
    <!--end-->
</body>

</html>