<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>

<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>D.O.B</th>
        </tr>
        <tr>
            <td>Steve Jobs</td>
            <td>Apple</td>
            <td>1960</td>
        </tr>
        <tr>
            <td>Bill Gates</td>
            <td>Microsoft</td>
            <td>1961</td>
        </tr>
        <tr>
            <td>Elon Musk</td>
            <td>Tesla</td>
            <td>1977</td>
        </tr>
    </table>
</body>

</html>