<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Text Align</title>
</head>

<body>
    <!--text align examples-->
    <div class="alignbox">
        <p class="aligncenter">I was so young, when I was born.</p>
    </div>
    <div class="alignbox2">
        <p class="alignleft">The moment you have been looking for, is on your shoulder</p>
    </div>
    <div class="alignbox3">
        <p class="alignright">You never give me your money, you only give me your funny paper.</p>
    </div>
    <!--end-->
</body>

</html>