<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Text effects</title>
</head>

<body>
    <!--Different text effects-->
    <div>
        <h3 class="here-comes-the-sun">Here comes the sun- The Beatles</h3>
        <p class="text-effect">
            Here comes the sun do, do, do <br>
            Here comes the sun <br>
            And I say it's all right <br>
            Little darling, it's been a long cold lonely winter <br>
            Little darling, it seems like years since it's been here <br>
            Here comes the sun do, do, do <br>
            Here comes the sun <br>
            And I say it's all right <br>
            Little darling, the smiles returning to the faces <br>
        </p>
    </div>
    <div>
        <h3 class="let-it-be">Let it Be - The Beatles</h3>
        <p class="text-effect-two">
            When I find myself in times of trouble, Mother Mary comes to me <br>
            Speaking words of wisdom, let it be <br>
            And in my hour of darkness she is standing right in front of me <br>
            Speaking words of wisdom, let it be <br>
            Let it be, let it be, let it be, let it be <br>
            Whisper words of wisdom, let it be <br>
            And when the broken hearted people living in the world agree <br>
            There will be an answer, let it be <br>
            For though they may be parted, there is still a chance that they will see <br>
            There will be an answer, let it be <br>
            Let it be, let it be, let it be, let it be <br>
            There will be an answer, let it be <br>
            Let it be, let it be, let it be, let it be <br>
            Whisper words of wisdom, let it be <br>
        </p>
    </div>
    <!--end-->
</body>

</html>