<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Text fonts</title>
</head>

<body>
    <!--Different text fonts-->
    <div>
        <p class="font1">
            <span class="lyrics">
                Here comes the sun- The Beatles</span> <br>
            Here comes the sun do, do, do <br>
            Here comes the sun <br>
            And I say it's all right <br>
            Little darling, it's been a long cold lonely winter <br>
            Little darling, it seems like years since it's been here <br>
            Here comes the sun do, do, do <br>
            Here comes the sun <br>
            And I say it's all right <br>
            Little darling, the smiles returning to the faces <br>
            Little darling, it feels like years since it's been here <br>
            Here comes the sun do, do, do <br>
            Here comes the sun <br>
            And I say it's all right <br>
            Little darling, I feel that ice is slowly melting <br>
            Little darling, it seems like years since it's been clear <br>
            Here comes the sun do, do, do <br>
            Here comes the sun <br>
            And I say it's all right <br>
            Here comes the sun do, do, do <br>
            Here comes the sun <br>
            And I say it's all right <br>
        </p>
    </div>
    <div>
        <p class="font2">
            <span class="lyrics">Let it Be - The Beatles</span> <br>
            When I find myself in times of trouble, Mother Mary comes to me <br>
            Speaking words of wisdom, let it be <br>
            And in my hour of darkness she is standing right in front of me <br>
            Speaking words of wisdom, let it be <br>
            Let it be, let it be, let it be, let it be <br>
            Whisper words of wisdom, let it be <br>
            And when the broken hearted people living in the world agree <br>
            There will be an answer, let it be <br>
            For though they may be parted, there is still a chance that they will see <br>
            There will be an answer, let it be <br>
            Let it be, let it be, let it be, let it be <br>
            There will be an answer, let it be <br>
            Let it be, let it be, let it be, let it be <br>
            Whisper words of wisdom, let it be <br>
            Let it be, let it be, let it be, let it be <br>
            Whisper words of wisdom, let it be, be <br>
            And when the night is cloudy there is still a light that shines on me <br>
            Shinin' until tomorrow, let it be <br>
            I wake up to the sound of music, Mother Mary comes to me <br>
            Speaking words of wisdom, let it be <br>
            And let it be, let it be, let it be, let it be <br>
            Whisper words of wisdom, let it be <br>
            And let it be, let it be, let it be, let it be <br>
            Whisper words of wisdom, let it be <br>
        </p>
    </div>
    <!--end-->
</body>

</html>