<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Transitions</title>
</head>

<body>
    <!--Transitions collection-->
    <div class="transition-one">
        <p>Transition dude</p>
    </div>
    <div class="transition-two">
        <p>I'm going to expand my horizons!</p>
        <p>To much expectation, I should have never believed</p>
    </div>
    <div class="transition-three">
        <p>Did you.... just assume my position?!</p>
    </div>
</body>

</html>